* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

#about .about-content {
  display: flex;
}

#about .image-container {
  flex: 0 0 30%;
  padding-right: 20px;
}

#about .text-container {
  flex: 1;
}

#about .image-container img {
  max-width: 100%;
  height: auto;
}

#social .social1 ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  rgb(5, 52, 129);
  padding: 20px;
}

p {
  font-size: 23px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

main {
  margin-top: 100px;
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: rgb(5, 52, 129)
}

ul {
  list-style: none;
}

ul li a {
  color: #333333;
  text-decoration: none;
  display: flex;
  padding: 10px;
  border: 1.5px solid rgb(5, 52, 129);
  margin-bottom: 10px;
  font-size: 20px;
}

ul li a:hover {
  background-color: lightseagreen;
  color: #fff;
}

label {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  display: block;
  background-color:  rgb(5, 52, 129);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: lightseagreen;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#social ul {
  list-style: none;
  padding: 0;
}

#social li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#social a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}

#social i {
  margin-right: 5px;
}

#social .linkedin {
  color: #0A66C2;
}

#social .github {
  color: #333;
}

#social .spotify {
  color: darkgreen;
}

.home-button {
  color: black;
}
